In [25]:
import pandas as pd
import numpy as np

In [30]:
data = pd.read_csv("molekul.txt")
print(data)

                       Mrv2003 01272015212D
0              36 39  0  0  0  0            999 V2000
1     -16.0638    8.1562    0.0000 C   0  0  0  0 ...
2     -16.7783    7.7213    0.0000 C   0  0  0  0 ...
3     -16.7783    6.8963    0.0000 C   0  0  0  0 ...
4     -16.0638    6.5061    0.0000 C   0  0  0  0 ...
..                                                ...
90                                  M  SBL   4  1  35
91                                      M  SMT   4 CO
92                M  SAP   4  2  32   1  1  32   0  2
93                                             M  END
94                                               $$$$

[95 rows x 1 columns]

In [32]:
data.head(40)

                       Mrv2003 01272015212D
0              36 39  0  0  0  0            999 V2000
1     -16.0638    8.1562    0.0000 C   0  0  0  0 ...
2     -16.7783    7.7213    0.0000 C   0  0  0  0 ...
3     -16.7783    6.8963    0.0000 C   0  0  0  0 ...
4     -16.0638    6.5061    0.0000 C   0  0  0  0 ...
5     -15.3493    6.9187    0.0000 C   0  0  0  0 ...
6     -15.3493    7.7437    0.0000 C   0  0  0  0 ...
7     -14.6349    8.1562    0.0000 C   0  0  0  0 ...
8     -13.9204    7.7437    0.0000 C   0  0  0  0 ...
9     -13.2059    8.1562    0.0000 C   0  0  0  0 ...
10    -13.9204    6.9187    0.0000 C   0  0  0  0 ...
11    -13.2059    6.5062    0.0000 N   0  0  0  0 ...
12    -12.4915    6.9187    0.0000 C   0  0  0  0 ...
13    -12.4915    7.7437    0.0000 C   0  0  0  0 ...
14    -11.7770    8.1562    0.0000 C   0  0  0  0 ...
15    -11.0625    7.7437    0.0000 C   0  0  0  0 ...
16    -13.2060    8.9812    0.0000 O   0  0  0  0 ...
17    -10.3481    8.1562    0.0000 C   0  0  0  0 ...
18    -11.0625    6.9187    0.0000 C   0  0  0  0 ...
19    -10.3481    6.5062    0.0000 C   0  0  0  0 ...
20     -9.6336    6.9187    0.0000 C   0  0  0  0 ...
21     -9.6336    7.7437    0.0000 C   0  0  0  0 ...
22     -8.9191    8.1562    0.0000 C   0  0  0  0 ...
23    -17.4975    8.1255    0.0000 C   0  0  0  0 ...
24    -12.4915    5.2687    0.0000 C   0  0  0  0 ...
25    -12.4914    4.4437    0.0000 C   0  0  0  0 ...
26    -11.7770    4.0312    0.0000 C   0  0  0  0 ...
27    -11.0625    4.4437    0.0000 C   0  0  0  0 ...
28    -11.0625    5.2687    0.0000 C   0  0  0  0 ...
29    -11.7770    5.6812    0.0000 C   0  0  0  0 ...
30    -13.2059    5.6812    0.0000 C   0  0  0  0 ...
31    -10.3481    8.9812    0.0000 C   0  0  0  0 ...
32    -16.0734    8.9811    0.0000 C   0  0  0  0 ...
33    -18.2167    8.5297    0.0000 O   0  0  0  0 ...
34     -8.2046    8.5687    0.0000 O   0  0  0  0 ...
35    -10.3481    9.8062    0.0000 O   0  0  0  0 ...
36    -16.0829    9.8061    0.0000 O   0  0  0  0 ...
37                                1  2  1  0  0  0  0
38                                2  3  2  0  0  0  0
39                                3  4  1  0  0  0  0

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 1 columns):
  Mrv2003 01272015212D              95 non-null object
dtypes: object(1)
memory usage: 888.0+ bytes